[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public/public/themes/ananke"]
	path = public/public/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
