---
import WorkInProgressSign from '../components/WorkInProgressSign.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="About Me">
  <WorkInProgressSign/>
  <!-- <h1>About Me</h1>
  
  <section>
    <h2>Who I am</h2>
    <p>
      I’m someone who’s always been curious about how and why things work and excited by the idea of building something new myself. I’ve been lucky enough to turn that curiosity and drive into a career, working as both a developer and a product manager. Along the way, I’ve built apps, solved challenging problems, and learned a lot about what makes good teams and great products.
    </p>
  </section>

  <section>
    <h2>What I am working on</h2>
    <p>
      Right now, I’m focused on iOS and macOS development, writing about the things I learn, and exploring the indie dev world.
    </p>
  </section>

  <section>
    <h2>What matters to me</h2>
    <p>
      I care about working on projects that people find useful and enjoyable, collaborating with thoughtful teammates, and pushing together to achieve great results while keeping a healthy balance between work and personal life. 
    </p>
    <p>
      Whether it’s coding, planning a product, or discussing ideas, I love the process of building things and figuring out how to make them work for real people.
    </p>
    <p>
      I enjoy intellectual challenges and conversations that help me learn and improve. But I don’t like it when discussions stay stuck in abstractions or theory without connecting to reality, or when they’re just exercises with no real impact.
    </p>
    <p>
      <b>I like to keep things simple</b>—both in code and product strategy—and focus on small, meaningful goals.
    </p>
   
    <p>
      I enjoy exploring new paths, but I’m not into random guesses or jumping straight into the dark. 
      <b>Gut instinct and knowledge are powerful skills</b> to develop, <b>but data and feedback should always be the compass</b>.
    </p>
    <p>
      I also love working with technologies that make me happy. 
      I’ve learned that when I have fun building something, 
      I’m more likely to create something the end user will enjoy too.
    </p>
  </section> -->

</MainLayout>