---
---
<div class="flex flex-col items-center my-8">
    <img class="max-w-44" src="/src/assets/memoji-macbook.png" />
    <!-- <h1 class="text-xl text-center font-bold">Luigi Di Muzio</h1>
    <p class="text-[10px] text-center whitespace-nowrap">iOS Developer | Product Manager | Indie Maker</p> -->
</div>