---
import { Image } from 'astro:assets';
import macbookMemoji from '../assets/memoji-macbook.png';
---
<div class="flex flex-col items-center my-8">
    <Image class="max-w-44" src={macbookMemoji} alt="Memoji of Luigi behind a MacBook"/>
    <!-- <h1 class="text-xl text-center font-bold">Luigi Di Muzio</h1>
    <p class="text-[10px] text-center whitespace-nowrap">iOS Developer | Product Manager | Indie Maker</p> -->
</div>