---
// Work In Progress - Signpost
---
<div>
    <h1 class="text-xl font-bold">Oops, you caught me early!</h1>
    <p>You weren’t supposed to see this page just yet. 🚧</p>
    <p>I’m still putting it together—check back soon to see what I’ve been working on!</p>
</div>